MedicorpWeb/Medicorp.Core/obj/
MedicorpWeb/Medicorp.Data/obj/
MedicorpWeb/Medicorp.IServices/obj/
MedicorpWeb/Medicorp.Services/obj/
MedicorpWeb/obj/
/MedicorpWeb/MedicorpWeb/bin/Debug/net6.0/ru
/MedicorpWeb/MedicorpWeb/bin/Debug/net6.0/runtimes/unix/lib/netcoreapp2.1
/MedicorpWeb/Medicorp.Services/bin/Debug/net6.0
/MedicorpWeb/MedicorpWeb/bin/Debug/net6.0
/MedicorpWeb/MedicorpWeb/obj/Debug/net6.0
*.json
/MedicorpWeb/MedicorpWeb/obj/MedicorpWeb.csproj.nuget.g.props
/MedicorpWeb/MedicorpWeb/obj/MedicorpWeb.csproj.nuget.g.targets
/MedicorpWeb/MedicorpWeb/obj/project.nuget.cache
/MedicorpWeb/MedicorpWeb/obj/staticwebassets.pack.sentinel
/MedicorpWeb/Medicorp.IServices/bin/Debug/net6.0
/MedicorpWeb/Medicorp.Data/bin/Debug/net6.0
/MedicorpWeb/Medicorp.Core/bin/Debug/net6.0
/MedicorpWeb/.vs/MedicorpWeb/v17
/.vs/Medicrop/v17/.suo
